html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none; }

.hamburger {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 20px;
  z-index: 1;
  cursor: pointer;
  position: relative; }

.hamburger div {
  top: 48%; }

.hamburger div, .hamburger div::before, .hamburger div::after {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #8b8b8b;
  transition: all 400ms ease-in-out; }

.hamburger div:before, .hamburger div:after {
  content: ""; }

.hamburger div:before {
  top: -12px; }

.hamburger div:after {
  bottom: -12px; }

.hamburger.active div {
  background-color: transparent; }
.hamburger.active div:before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.hamburger.active div:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

html {
  font-size: 26px;
  color: #010101; }

body {
  background-color: #fff; }

.container {
  margin: 0 auto;
  max-width: 1920px; }

aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.icon {
  background-color: #fff; }

nav {
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 0;
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: transparent;
  transition: max-height 500ms ease-in-out, border-color 400ms ease; }
  nav.active {
    max-height: 800px;
    border-left-color: #CFCFCF; }
  nav ul {
    width: 100%; }
  nav li {
    text-align: center; }
  nav a {
    color: #010101;
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
    text-decoration: none;
    font-size: 0.7rem;
    text-transform: uppercase; }
    nav a:active {
      background-color: rgba(207, 207, 207, 0.5); }

@media (min-width: 1200px) {
  aside {
    bottom: 0;
    left: auto;
    background-color: #fff;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-right: 1px solid #CFCFCF; }

  .icon, nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .icon {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid #CFCFCF; }

  nav {
    max-width: 0;
    max-height: none;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    transition: max-width 500ms linear, border-color 400ms ease;
    border: none;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent; }
    nav.active {
      max-height: none;
      max-width: 400px;
      border-left-color: #CFCFCF; }
    nav ul {
      margin-left: 50px;
      margin-right: 140px;
      width: auto; }
    nav li {
      padding-bottom: 20px;
      text-align: left;
      white-space: nowrap;
      -webkit-transform: translateX(40px);
          -ms-transform: translateX(40px);
              transform: translateX(40px);
      opacity: 0;
      font-weight: bold;
      transition: opacity 300ms cubic-bezier(0.795, 0.19, 0.73, 0.98), -webkit-transform 300ms ease;
      transition: transform 300ms ease, opacity 300ms cubic-bezier(0.795, 0.19, 0.73, 0.98);
      transition: transform 300ms ease, opacity 300ms cubic-bezier(0.795, 0.19, 0.73, 0.98), -webkit-transform 300ms ease; }
      nav li::before {
        content: "# "; }
      nav li:last-child {
        padding-bottom: 0; }
      nav li.show {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        opacity: 1; }
    nav li:first-child > a {
      padding-top: 0; }
    nav li:last-child {
      padding-bottom: 0; }
    nav a {
      padding: 0;
      padding-top: 20px;
      text-transform: none;
      font-size: 1rem;
      font-weight: bold;
      position: relative;
      width: auto; }
      nav a:active {
        background-color: #fff; }
      nav a::after {
        content: "";
        background-color: #010101;
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -4px;
        z-index: 0;
        transition: width 400ms ease; }
      nav a:hover::after, nav a.active::after {
        width: 100%; } }
section {
  padding-top: 75px;
  display: block;
  min-height: 100vh;
  height: auto !important; }

h1 {
  font-size: 2.4rem;
  color: #010101;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: right;
  margin: 0 10px;
  padding: 30px 0; }

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10px;
  color: #010101; }

p {
  margin: 0 10px;
  line-height: 1.16rem;
  font-size: 0.7rem;
  text-align: left;
  color: #8b8b8b;
  padding-bottom: 30px; }

.section:first-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }
  .section:first-child h1, .section:first-child p {
    padding: 0;
    text-align: center; }
  .section:first-child h1 {
    padding-bottom: 10px; }

.section:nth-child(3) h1 {
  font-size: 2rem; }
