doctype html
html(lang='pl')
  head
    title Paweł Januszkiewicz
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/jquery.fullPage.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='js/jquery.fullPage.min.js')
    script(src='js/script.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    aside
      nav
        ul
          li: a(href='#start') Start
          li: a(href='#about') About
          li: a(href='#skills') Skills
          li: a(href='#js') JavaScript
          li: a(href='#psd') PSD to HTML
          li: a(href='#contact') Contact
      .icon
        .hamburger: div
    #fullpage.container-1920
      section.section(data-anchor='start')
        .lang
          span.en en
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          span.pl pl
        h1 Welcome!
        p Click on menu or slide!
        .arrow: img(src='images/arrow-2px.png')
      section.section(data-anchor='about')
        .container-1260
          h1 O mnie
          p Nazywam się Paweł Januszkiewicz i aspiruje do miana front-end developera. 
          p Zainteresowanie technologiami webowymi towarzyszyło mi jeszcze od czasów gimnazjum, niestety było niejako tłem dla formalnej edukacji. 
          p Od ponad pół roku poświęcam cały swój czas na podnoszenie poziomu znajomości technologii front-endowych. 
          p Jako kolejny, naturalny krok rozwoju szukam pierwszego stażu/pracy w komercyjnej firmie.
          p Aktualnie jestem skupiony na doskonaleniu umiejętności programowania w JS oraz na nauce korzystania z narzędzia automatyzacji pracy Gulp.
          p W swoich projektach staram się dbać o intuicyjność i estetykę interfejsu użytkownika i w miarę możliwości rozwijam swoją wiedzę nt. UI oraz UX designu.
      section.section(data-anchor='skills')
        .container-1260
          h1 Umiejętności
          p Spis jest dość ogólny i przedstawia zarys znajomości wykorzystywanych przeze mnie narzędzi
          div
            h3 HTML + Jade/Pug
            ul
              li Znajomość najczęściej używanych znaczników 
                strong HTML
              li Korzystam z preprocesora 
                strong Jade/Pug
          div
            h3 CSS + SASS
            ul
              li Znajomość większości właściwości CSS oraz działania selektorów
              li Umiejętność korzystania z dokumentacji 
                strong (MDN)
              li Ogólna znajomość 
                strong Flexboxa
              li Korzystam z preprocesora 
                strong SASS
          div
            h3 JavaScript + jQuery
            ul
              li Umiejętność wykonywania operacji na drzewie DOM (wyszukiwanie elementów drzewa, edycja styli, dodawanie/usuwanie klas CSS), reagowanie na zdarzenia zarówno w jQuery jak i w "tradycyjnym" JS
          div
            h3 Inne
            ul
              li Ponadto korzystam z: edytora 
                strong Atom
                | , 
                strong Adobe Photoshopa
                |  (warstwy, narzędzia główne, plastry), repozytorium 
                strong Git
                |  (podstawowe polecenia w konsoli), narzędzia 
                strong DevTools
                |  w Chromie oraz 
                strong Gulpa
                |  (początki pracy z tą technologią)
      section.section(data-anchor='js')
        .container-1260
          h1 JS
          p Projekty demonstracyjne z wykorzystaniem JS (przygotowane z myślą o dużych ekranach)
          .flex-projects
            .box
              a(href='/15puzzles').image
                img(src='images/15puzzles.jpg')
                div Demo
              h2 15 puzzles
              p Układanka oparta na "natywnym" JS
              .buttons
                a(href='/15puzzles').btn.btn-demo Demo
                a(href='https://github.com/paweljanuszkiewicz/15puzzles').btn.btn-code Code
            .box
              a(href='/squaresGallery').image
                img(src='images/squaresGallery.jpg')
                div Demo
              h2 Gallery
              p Galeria zdjęć oparta o jQuery
              .buttons
                a(href='/gallerySquares').btn.btn-demo Demo
                a(href='https://github.com/paweljanuszkiewicz/gallerySquares').btn.btn-code Code
            .box
              a(href='/stickyNotes').image
                img(src='images/stickyNotes.jpg')
                div Demo
              h2 Sticky Notes
              p Projekt oparty o natywny JS (nowe metody DOM)
              .buttons
                a(href='/stickyNotes').btn.btn-demo Demo
                a(href='https://github.com/paweljanuszkiewicz/stickyNotes').btn.btn-code Code
              
      section.section(data-anchor='psd')
        .container-1260
          h1 PSD to HTML
          p Responsywne, pojedyncze strony bazujące na szablonach PSD (szablony pochodzą ze stron 
            a(href='http://www.os-templates.com/') www.os-templates.com 
            | oraz 
            a(href='http://www.yebocreative.com/') www.yebocreative.com
            |, pełna treść licencji dostępna w folderach psd/ poszczególnych projektów)
          .flex-projects
            .box
              a(href='/astoundingPsd').image
                img(src='images/astounding.png')
                div Demo
              h2 Astounding
              p Layout oparty o opływanie elementów
              .buttons
                a(href='/astoundingPsd').btn.btn-demo Demo
                a(href='https://github.com/paweljanuszkiewicz/astoundingPsd').btn.btn-code Code
            .box
              a(href='/bicyclesPsd').image
                img(src='images/bicycles.jpg')
                div Demo
              h2 Bicycles
              p Układ strony oparty głównie na Flexboxie
              .buttons
                a(href='/bicyclesPsd').btn.btn-demo Demo
                a(href='https://github.com/paweljanuszkiewicz/bicyclesPsd').btn.btn-code Code
            .box
              a(href='utopicFlowersPsd').image
                img(src='images/utopic.jpg')
                div Demo 
              h2 Utopic Flowers
              p Strona z szablonu PSD
              .buttons
                a(href='/utopicFlowersPsd').btn.btn-demo Demo
                a(href='https://github.com/paweljanuszkiewicz/utopicFlowersPsd').btn.btn-code Code
      section.section(data-anchor='contact').min
        a(href='mailto:pawel.januszkiewicz@outlook.com').mail: h1 pawel.januszkiewicz@outlook.com
        footer
          p  ... or see the website source here
          a(href='https://github.com/paweljanuszkiewicz/paweljanuszkiewicz.github.io').btn.btn-code Code
