doctype html
html
  head
    title Paweł Januszkiewicz
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/jquery.fullPage.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='js/jquery.fullPage.min.js')
    script(src='js/script.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    aside
      nav
        ul
          li: a(href='#start') Start
          li: a(href='#about') About
          li: a(href='#skills') Skills
          li: a(href='#js') JavaScript
          li: a(href='#psd') PSD to HTML
          li: a(href='#contact') Contact
      .icon
        .hamburger: div
    #fullpage.container
      section.section(data-anchor='start')
        h1 start
      section.section(data-anchor='about')
        h1 about
      section.section(data-anchor='skills')
        h1 skills
      section.section(data-anchor='js')
        h1 js
      section.section(data-anchor='psd')
        h1 psd
      section.section(data-anchor='contact')
        h1 contact
