doctype html
html(lang='pl')
  head
    title Paweł Januszkiewicz
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/jquery.fullPage.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='js/jquery.fullPage.min.js')
    script(src='js/script.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    aside
      nav
        ul
          li: a(href='#start') Start
          li: a(href='#about') About
          li: a(href='#skills') Skills
          li: a(href='#js') JavaScript
          li: a(href='#psd') PSD to HTML
          li: a(href='#contact') Contact
      .icon
        .hamburger: div
    #fullpage.container
      section.section(data-anchor='start')
        h1 Welcome!
        p Click on menu or slide!
      section.section(data-anchor='about')
        h1 O mnie
        p Nazywam się Paweł Januszkiewicz i aspiruje do miana front-end developera. Zainteresowanie technologiami webowymi towarzyszyło mi jeszcze od czasów gimnazjum, niestety było niejako tłem dla formalnej 
          | edukacji. Od ponad pół roku poświęcam cały swój czas na podnoszenie poziomu znajomości technologii front-endowych. 
          | Jako kolejny, naturalny krok rozwoju szukam pierwszego stażu/pracy w komercyjnej firmie.
          | Aktualnie jestem skupiony na doskonaleniu umiejętności programowania w JS oraz na nauce korzystania z narzędzia utomatyzacji pracy Gulp.
          | W swoich projektach staram się dbać o intuicyjność i estetykę interfejsu użytkownika i w miarę możliwości rozwijam swoją 
          | (na razie podstawową) wiedzę nt. UI oraz UX designu.
      section.section(data-anchor='skills')
        h1 Umiejętności
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      section.section(data-anchor='js')
        h1 js
      section.section(data-anchor='psd')
        h1 psd
      section.section(data-anchor='contact')
        h1 contact
